.contract-detail{
    color: #e7dfdd;
    width: 80%;
    height: 500px;
    margin: auto;
    border-right: 1px solid #e7dfdd;
    border-left: 1px solid #e7dfdd;
    display: flex;
    align-items: stretch;

}
.contract-detail-main{
    width: 60%;
    height: inherit
}
.contract-detail-sidebar {
    width: 35%;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
b {
    color: #4717f6;
}
.button {
    background: #4717f6;
    width: 400px;
    height: 50px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding-top: 5px;
}
.contribution{
    border-bottom: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
}