.main {
  background-color: #0e0b16;
}
.slider {
  position: relative;
  text-align: center;
  color: #e7dfdd;
  font-size: 30px;
}
.hero-banner{
  height: 400px;
  width: 100%;
  padding-top: 25px;
}
.overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.category-table{
  width: 80%;
  margin: auto;
  padding-bottom: 25px;
  border-bottom: 3px solid #e7dfdd;
}


