.category-button{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background-image: linear-gradient(to right, #a239ca, #4717f6);
    justify-content: center;
    text-align: left;
    color: #e7dfdd;
    -webkit-text-stroke: 1px black;
    transition: height 0.5s, font-size 0.1s;
}
.category-button:hover {
    height: 150px;
    font-size: 30px;
}
.category-table{
    width: 80%;
    margin: auto;

}