.app {
  width: 100%;
  text-align: center;
  font-family: Charcoal, sans-serif;
}
.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: inherit;
}
.app-header {
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(to right, #e7dfdd, #0e0b16);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.spacing {
  height: 5vh;
}
.app-header > h3{
  font-size: 24px;
  letter-spacing: 4px;
  height: auto;
}
.app-header > a {
  background: -webkit-linear-gradient(#a239ca, #4717f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-header > div, img {
  padding: 2px 15px;
}










@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
